/*=========================
    Afjalul Karim Saad -- Editor
=========================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#0000003d, #000000b0), url(images/bg-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.wrapper{
    width: 100%;
    background: url(images/bg-2.png);
    background-repeat: repeat;
}
.container{
    width: 85%;
    margin: 0 auto;
}
/*=========================
    Header
=========================*/
header{
    margin-bottom: 20px;
}
.navbar{
    width: 100%;
}
ul{
    list-style: none;
}
ul.right-menu{
    list-style: none;
    display: flex;
    gap: 60px;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}
ul li a{
    text-decoration: none;
    color: #e1b87a;
    font-size: 20px;
    font-style: italic;
}
ul li a img{
    width: 20vw;
}
.intro{
    position: relative;
}
.intro img{
    width: 90vw;
    margin: 0 auto;
}
.main-name{
    width: 40%;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 1vw;
}
.main-name img{
    width: 35vw;
}
.main-title{
    text-decoration: none;
    color: #e1b87a;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
/*=========================
    Forces
=========================*/
.force-wrapper{
    background: #212121;
    padding: 50px 0;
    margin: 20px 0;
}
.forces{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.single-force{
    position: relative;
    overflow: hidden;
    padding: 20px;
    margin: 5px;
    box-shadow: 0 0 8px salmon;
    background: #0000008a;
}
.single-force:before{
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 40px;
    left: 0;
    opacity: .5;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    -webkit-transform: translateX(-150px) skewX(-15deg);
    transform: translateX(-150px) skewX(-15deg);
}
.single-force:hover:after{
    -webkit-transform: translateX(600px) skewX(-15deg);
    transform: translateX(600px) skewX(-15deg);
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
}
.single-force:after {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    left: 30px;
    opacity: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transform: translateX(-150px) skewX(-15deg);
    transform: translateX(-150px) skewX(-15px);
}
.single-force:after, .single-force:before{
    content: '';
    display: block;
    height: 120%;
    top: 0;
}
.single-force img{
    width: 100%;
    background-color: black;
    outline: 1px solid grey;
    height: 225px;
}
.single-force h2{
    color: #e1b87a;
    text-align: center;
    padding-bottom: 10px;
}
.single-force p{
    color: #d5cdcd;
    text-align: justify;
}
/*=========================
    Videos and Apps
=========================*/
.video, .products, .app{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.video img{
    width: 100%;
    margin: 0 auto;
}
.products img{
    width: 100%;
    margin: 0 auto;
}
.app img{
    width: 100%;
    margin: 0 auto;
}
.single-discover{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.single-discover h1{
    text-align: center;
    color: #e1b87a;
    font-size: 35px;
}
.discover-btn{
    text-decoration: none;
    background: linear-gradient(-147deg, #0089ff, #1b00ff);
    padding: 11px 26px;
    color: antiquewhite;
    border-radius: 2px;
    margin: 10px;
}
/*=========================
    Footer
=========================*/
footer{
    background: #000;
    padding: 30px 0 0 0;
    color: seashell;
    text-align: center;
}
.footer-parts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer-left{
    padding-top: 10px;
    position: relative;
}
.footer-left input{
    background: #383838;
    padding: 16px;
    border: none;
    outline: 1px solid gray;
    width: 80%;
}
.footer-left p{
    margin: 20px 0;
}
.fa-paper-plane{
    font-weight: 900;
    background: #ff4700;
    padding: 7px 12px;
    font-size: 27px;
    position: absolute;
    top: 13px;
    right: 6.5%;
}
.footer-middle img{
    width: 50%;
}
.fa-facebook{
    font-size: 35px;
    color: #0066ff;
    padding: 10px
}
.fa-linkedin{
    font-size: 35px;
    color: #006eff;
    padding: 10px
}
.fa-youtube{
    font-size: 35px;
    color: #ff0022;
    padding: 10px
}
.fa-twitter{
    font-size: 35px;
    color: #00aeff;
    padding: 10px;
    cursor: not-allowed;
}
.footer-right{
    font-size: 18px;
}
.footer-right h4{
    margin-top: 10px;
}
.footer-right i{
    padding-right: 10px;
}
.copy-right{
    padding: 20px;
    position: relative;
    top: 60px;
    background: #141414;
}
/*=========================
    Media Query
=========================*/
@media only screen and (max-width: 668px) {
    ul{
        margin: 0 auto;
    }
    ul.right-menu {
        list-style: none;
        display: flex;
        gap: 19px;
        align-content: center;
    }
    ul li a img{
        width: 35vw;
    }
    ul li a {
        text-decoration: none;
        color: #e1b87a;
        font-size: 16px;
        font-style: italic;
    }
    .intro {
        position: relative;
        overflow: hidden;
        margin: 20px auto;
        padding: 12px 0;
    }
    .intro>img {
        width: 90vw;
        margin: 0 auto;
        transform: scale(1.5);
    }
    .main-name img {
        width: 35vw;
        transform: scale(1.5);
    }
    .forces{
        grid-template-columns: repeat(1, 1fr);
    }
    .video, .products, .app{
        grid-template-columns: repeat(1, 1fr);
    }
    .video-apps{
        flex-wrap: wrap;
    }
    .footer-parts{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .fa-paper-plane{
        right: 5%;
    }
}